$zero:0;
$n:none;

$le:left;
$ri:right;
$blo:block;
$bkimg:url("../img/sprinse.fw.png");
$icimg:url("../css/img/sprinse.fw.png");
$rcolor:#FF0000;
$fsize:12px;
$tsize:14px;
$bor:1px solid #959595;
$cbor:1px solid;
$bcolor:#242424;
$width:1176px;
$erimg:url("../img/erweima.jpg");
$jian:3px solid rgba(255,255,255,0);



$ib:inline-block;
$c:center;

//默认变量
$color:#999999 !default;