@charset "UTF-8";
html, head, body, div, p, img, input, ol, dl, dt, dd, li, ul, h1, h2, h3, h4, h5, h6, button {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #999999; }

ul, li {
  list-style: none; }

img {
  display: block;
  border: 0; }

/*高亮重置*/
input {
  outline: none; }

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden; }

.contener {
  width: 1176px;
  margin: 0 auto; }

#heade {
  background: url("../img/buycar.png");
  height: 88px; }
  #heade h1 {
    text-indent: -1000em; }

#car {
  padding-bottom: 150px; }
  #car h3 {
    text-align: center; }
  #car p {
    border-bottom: 1px solid #000;
    line-height: 36px; }
    #car p span {
      color: #FF0000; }
  #car h4 {
    color: #FF0000;
    line-height: 36px; }
  #car table {
    display: none;
    width: 100%;
    border: 2px solid #ccc;
    border-collapse: collapse; }
    #car table th {
      height: 26px;
      border: 1px solid #fff;
      background: #9E9E9E;
      color: #fff;
      font-weight: 100; }
    #car table button {
      padding: 5px;
      border: 1px solid #959595;
      border-radius: 3px; }
    #car table th:nth-child(2) {
      width: 350px; }
    #car table th:nth-child(6) {
      width: 140px; }
    #car table td {
      padding: 8px 18px;
      color: #796353;
      border: 1px solid #F3F3F3;
      text-align: center; }
    #car table td:nth-child(2) img {
      float: left; }
    #car table td:nth-child(2) pre {
      width: 200px;
      float: left;
      line-height: 26px;
      font-size: 12px;
      text-indent: 1em; }
    #car table td:nth-child(6) span {
      display: inline-block;
      width: 12px;
      height: 12px;
      line-height: 12px;
      border: 1px solid #959595;
      border-radius: 3px; }
    #car table td:nth-child(6) input {
      width: 40px;
      text-align: center;
      border: 1px solid #959595; }
  #car .endbuy, #car .continue {
    display: none;
    width: 138px;
    height: 40px;
    border: 1px solid #ccc;
    float: right;
    margin: 20px 10px 0 0;
    border-radius: 5px;
    background: #F1E1E1;
    font-size: 16px;
    color: #f00; }
  #car .endbuy {
    background: #8A1029;
    color: #fff; }

#footed {
  height: 40px;
  border-top: 1px solid #ccc; }
  #footed p {
    text-align: center;
    font-size: 12px;
    line-height: 24px; }
